<div class="form-control">
  <div class="row">
    <div class="sidenav" id="login-field">
      <div class="field form-control" >

        <%= form_tag sessions_path do %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span for=:email class="input-group-text" id="basic-addon1" >adress @:</span>
          </div>
          <input class="form-control" id="email" name="email" type="text" placeholder="enter Your email" aria-label=:email aria-describedby="basic-addon1"/>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span for=:password class="input-group-text" id="basic-addon1">password:</span>
          </div>
          <input class="form-control" id="password" name="password" type="password" placeholder="enter the password"/>
        </div>      
        <div class="actions">
          <button type="submit" id="login-button" class="btn btn-outline-secondary" > Login </button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>