<div class=" form-control text-center">    
  <div class="row">
    
    <div class="col-6 sidenav">
      <%= render partial: 'events/event_feed' %>
    </div>
    
    <div class="col-6 sidenav">
      <%= render partial: 'events/map' %>
    </div>
  
  </div>
</div>
