<ul id ="event-feed">
    <% Event.all.each do |event| %>
      <li>
      	<span><%= event.name %>, <%= event.address %> </br> <%= event.date %>, <%= event.time.strftime("%I:%M%p") %></span><br/>
      	<span>Sign Up!</span>
      </li>
    <% end %>
</ul>