<h3>My Events</h3>
<ul id ="event-feed">
    <% Event.all.where(owner_id: current_user.id).each do |event| %>
      <li>
      	<span><%= event.name %>, <%= event.address %> </br> <%= event.date %>, <%= event.time.strftime("%I:%M%p") %></span><br/>
      </li>
    <% end %>
</ul>